@charset "UTF-8";
/* 1) Абстракции «переиспользуем» одной строкой */
/* 2) База: шрифты → глобал → типографика */
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Cera Pro", sans-serif;
  padding: 25px 120px;
}

/* 3) Лейауты (крупные блоки страницы) */
.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid #46A358;
  margin-bottom: 12px;
}
.header__list {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #3D3D3D;
  font-size: 16px;
  line-height: normal;
}
.header__list-item {
  padding: 8px 0 25px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
  font-weight: 400;
}
.header__list-item:hover {
  border-bottom: 3px solid #46A358;
  font-weight: 700;
}
.header__list-item:hover .header__burger,
.header__list-item .header__burger:hover {
  display: block;
}
.header__list-item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 16px;
  bottom: -16px;
}
.header__burger {
  background-color: #EDF6EE;
  position: absolute;
  top: calc(100% + 16px);
  left: -30px;
  display: none;
}
.header__burger-link {
  list-style: none;
}
.header__burger-links {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 14px;
  padding: 6px 80px 6px 10px;
  background-color: none;
  width: 100%;
}
.header__burger-links:hover {
  background-color: #1A712A;
  color: #fff;
}
.header__burger-links:hover > .header__submenu,
.header__burger-links .header__submenu:hover {
  display: block;
}
.header__burger-links::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -12px;
  width: 12px;
}
.header__burger-links:last-child {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
.header__burger-links:hover > .header__burger-text::after {
  transform: rotate(225deg);
}
.header__burger-text {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}
.header__burger-text::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-left: 8px;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(45deg);
  transition: transform 0.2s linear;
}
.header__submenu {
  position: absolute;
  top: -126px;
  left: 170px;
  background-color: #EDF6EE;
  display: none;
}
.header__submenu-lin {
  list-style: none;
}
.header__submenu-lins {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 8px;
  white-space: nowrap;
  padding: 6px 10px 6px 4px;
  color: #3D3D3D;
  background-color: none;
}
.header__submenu-lins:hover {
  background-color: #1A712A;
  color: #fff;
}
.header__submenu-lins:last-child {
  margin-bottom: 0;
}
.header__btn {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 8px 16px;
  background: #46A358;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
}

.content {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: start;
  background: linear-gradient(98deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
  margin-bottom: 26px;
}
.content__text {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.content__text-main {
  color: #3D3D3D;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.content__text-h2 {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 70px;
  color: #3D3D3D;
  margin-bottom: 5px;
}
.content__text-h2 span {
  color: #46A358;
}
.content__text-sup {
  color: #727272;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 44px;
  width: 84%;
}
.content__text-button {
  padding: 10px 26px;
  border: none;
  border-radius: 6px;
  background-color: #46A358;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.content__img {
  border: none;
  background-image: url("../images/02.png"), url("../images/01.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 25% auto, 100% auto;
  background-position: left 10% bottom 14px, right 8% bottom;
  width: 100%;
  aspect-ratio: 507/450;
  min-height: 400px;
  flex: 1;
}

.shop__layout {
  display: grid;
  grid-template-columns: 310px 1fr;
  gap: 40px;
}

.shop__aside {
  background-color: #FBFBFB;
  max-width: 310px;
}

.aside__nav {
  display: flex;
  gap: 20px;
  padding: 30px 0px 0px 30px;
  flex-direction: column;
  margin-bottom: 340px;
}
.aside__h4 {
  color: #3D3D3D;
  font-family: "Cera Pro", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-left: -10px;
}
.aside__link {
  text-decoration: none;
  color: #3D3D3D;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.aside__link:hover {
  color: #46A358;
}
.aside__banner {
  margin-left: -30px;
}
.aside__img {
  display: block;
  max-width: 310px;
  overflow: hidden;
}

.shop__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.shop__toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.tabs__nav {
  list-style: none;
}
.tabs__link {
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  color: #3D3D3D;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s ease;
}
.tabs__link:hover {
  color: #46A358;
  border-bottom: 2px solid #46A358;
}

.sort__span {
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #3D3D3D;
}
.sort__select {
  border: none;
  background: transparent;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.cards {
  display: flex;
}

.product__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px 40px;
  justify-items: center;
  align-items: start;
}

.product__card {
  list-style: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease, border-top 0.3s ease;
  border-top: 2px solid transparent;
}
.product__card:hover {
  border-top: 2px solid #46A358;
}
.product__card-link {
  text-decoration: none;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3D3D3D;
  cursor: pointer;
}
.product__card-title {
  margin-bottom: 6px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3D3D3D;
}
.product__card-price {
  color: #46A358;
  font-weight: 700;
  margin-right: 14px;
  display: inline;
}
.product__card-span {
  color: #A5A5A5;
  text-decoration: line-through;
  display: inline;
}
.product__card-conter {
  position: relative;
}
.product__card-vector {
  display: none;
  position: absolute;
  top: 270px;
  left: 70px;
}
.product__card-vector > svg {
  margin-right: 20px;
}
.product__card-vector svg:hover path {
  fill: #46a358;
}
.product__card:hover .product__card-vector {
  display: block;
  cursor: pointer;
}
.product__card-sale {
  background-color: #46A358;
  padding: 4px;
  width: fit-content;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  border: none;
  position: absolute;
  top: 14px;
  left: 0px;
}

.pages {
  margin-top: 90px;
}
.pages__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.pages__link {
  text-decoration: none;
  font-family: "Cera Pro", sans-serif;
  color: #3D3D3D;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  border: 1px solid rgb(238, 234, 234);
  border-radius: 4px;
  background-color: #FBFBFB;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
.pages__link:hover {
  color: #fff;
  background-color: #46A358;
}
.pages__link--img:hover {
  color: #3D3D3D;
  background-color: #FBFBFB;
  border-color: black;
}

/*# sourceMappingURL=style.css.map */
