@font-face {
  font-family: 'Cera Pro';              
  src: url('./CeraPro-Regular.woff2') format('woff2');
  font-weight: 400;                  
  font-style: normal;
}
@font-face {
  font-family: 'Cera Pro';             
  src: url('./CeraPro-Regular.woff2') format('woff2');
  font-weight: 700;                
  font-style: normal;
}
@font-face {
  font-family: 'Cera Pro';             
  src: url('./CeraPro-Regular.woff2') format('woff2');
  font-weight: 900;                
  font-style: normal;
}