// Переменные для цветов

$text-color-green: #46A358;
$text-color-gray: #3D3D3D;
$color-dark: #727272;
$text-color-line-through: #A5A5A5;
$bgc-color-one: #FBFBFB;
$bgc-color-two: #E5E5E5;
$bgc-color-three: #EDF6EE;
$bgc-color-four: #1A712A;


// Переменные для шрифтов

$ff-CeraPro: 'Cera Pro', sans-serif;

// Перменные для шрифт-размеров

$fz-14: 14px;
$fz-15: 15px;
$fz-16: 16px;
$fz-18: 18px;
$fz-70: 70px;

// Переменные для жирности

$fw-400: 400;
$fw-700: 700;