@use "variables" as *;
@use "mixins" as m;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.headers__link.active,
.header__links.active {
  color: $color-accent;
      border-bottom: 2px solid $color-accent;
}

.ul-dash {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    padding-left: 16px; // отступ для маркера
    margin-bottom: 8px;
    line-height: 1.4;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 9px; // выставлено под твой line-height
      width: 6px;
      height: 6px;
      background-color: $color-accent; // = #F0145A
      border-radius: 50%;
      flex-shrink: 0;
    }
  }
}

.ol-dash {
  counter-reset: list-counter;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    counter-increment: list-counter;
    position: relative;
    padding-left: 28px;
    margin-bottom: 10px;

    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: $color-accent;

    &::before {
      content: counter(list-counter) ".";
      position: absolute;
      left: 0;
      top: 0;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      color: $color-accent;
    }
  }
}
/* базовый стиль текста возле слеша */
.header__mid-p::after {
  content: ' ';      // текст по умолчанию, например для services.html
  @include m.font-regular;
  font-size: $f-size-36;
}







