* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: "Cera Pro", sans-serif;
  color: #000;
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
}

a:hover {
  color: #46a358;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

button:active {
  background-color: tomato;
}
.close {
  margin-bottom: 10px;
  position: relative;
  top: 0px;
  right: -250px;
}
.but1 {
  background: none;
}

.auth-header {
  margin-bottom: 40px;
}

.auth-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.auth-separator {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.auth-subtitle {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 14px;
  color: #000;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.input {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  padding: 0 14px;
  font-size: 14px;
  color: #333;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #000;
}

.button {
  width: 100%;
  height: 45px;
  background-color: #46a358;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 36px;
}

.auth-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-top: 1px solid #eaeaea;
}

.divider::before {
  margin-right: 6px;
  margin-top: -15px;
}

.divider::after {
  margin-left: 6px;
  margin-top: -15px;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 300px;
  height: 40px;
  font-weight: 500;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #eaeaea;
}

.class {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  height: 10px;
  border: none;
  background: #46a358;
}
