
@font-face {
  font-family: 'Cera Pro';             
  src: url("../scss/fonts/CeraPro-Regular.woff2") format('woff2');
  font-weight: 400;                   
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cera Pro';             
  src: url("../scss/fonts/CeraPro-Bold.woff2") format('woff2');
  font-weight: 700;                  
  font-style: normal;
  font-display: swap;
}