@use "../abstracts/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $ff-CeraPro;
}
button {
  cursor: pointer;
}
button:hover {
  background-color: #3b8f4b;
  box-shadow: 0 6px 14px rgba(70, 163, 88, 0.35);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 25px 120px;
  font-family: $ff-CeraPro;
}

li {
  list-style: none;
}
