@use "../base/variables" as *;
@use "../base/mixins" as m;
.footer {
  background: $grey-bg;
  &__top {
    &-text {
      @include m.font-regular;
      color: $main-regular;
      font-size: $f-size-16;
    }
    &-text1 {
      @include m.font-bold;
      color: $active-regular;
      font-size: $f-size-12;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  &__bot {
    &-text {
      @include m.font-bold;
      color: $main-alt;
      font-size: $f-size-16;
    }
    &-text1 {
      @include m.font-bold;
      color: $active-regular;
      font-size: $f-size-16;
      &:hover {
        cursor: pointer;
        color: $color-accent;
      }
    }
  }
  &__text {
    @include m.font-regular;
    color: $grey-text;
    font-size: $f-size-16;
  }
}
.footer__facebook:hover .footer__facebook-path {
  cursor: pointer;
  fill: $color-accent;
}
@media (max-width: 767px) {
  .footer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      &-text {
        margin-bottom: 10px;
      }
    }
    &__bot {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      & svg {
        margin-bottom: 10px;
      }
      &-text {
        margin-bottom: 10px;
      }
    }
    &__point {
      display: none;
    }
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 40px 60px;
    &__top {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      margin-bottom: 20px;
    }
    &__bot {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      margin-bottom: 30px;
    }
    &__text {
      margin-left: 60px;
    }
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 30px 60px;
    &__container {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
    }
    &__top {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      margin-bottom: 20px;
    }
    &__bot {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      margin-bottom: 30px;
    }
    &__text {
      margin-left: 60px;
    }
  }
}
