@use "../base/variables" as *;
@use "../base/mixins" as m;
.nav {
    &__item {
      list-style: none;
      &-link {
         @include m.font-regular;
         color: $grey-text;
         text-decoration: none;
         padding: 5px 7px;
      }
    }
  }
ul.nav:nth-child(1) {
  .nav__item-link {
    @include m.font-bold;
    font-size: $f-size-12;
    color: $grey-text;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 8px;
  }
  .nav__item-link:hover {
    background: $color-accent;
    color: $basic-white;
  }
}
ul.nav:nth-child(3) {
  .nav__item-link {
    @include m.font-bold;
  }
  .nav__item-link:last-child {
    padding-right: 0px;
  }
}
.header__mid-p {
  @include m.font-regular;
  color: $main-regular;
}
.header__nav {
  text-align: center;
  margin: 0 auto;
}
.header__nav-svg {
  text-align: right;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
.header__links {
  @include m.font-bold;
  font-size: $f-size-24;
  color: $active-regular;
  &:hover {
    color: $color-accent;
  }
}
.header__facebook:hover .header__facebooks {
  cursor: pointer;
  fill: $color-accent;
}

@media (max-width: 375px) {
  .navigation {
    display: none;
    position: relative;
    top: -10px;
    left: 0px;
    border-radius: 12px 12px 0px 0px;
  }
  .header {
    &__bot {
      display: none;
    }
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $grey-bg;
      padding: 10px 15px;
    }
    &__mid {
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
    }
    &__mids {
      display: flex;
      gap: 4px;
      &-left {
        display: flex;
        flex-direction: column;
      }
      &-right {
        display: flex;
        gap: 2px;
        align-items: start;
      }
      &-p {
        font-size: $f-size-20;
      }
    }
    &__svg {
      &-name {
        width: 69.333px;
        height: 24.799px;
      }
      &-law {
        width: 69.333px;
        height: 3.812px;
      }
      &-slash {
        width: 11.617px;
        height: 26px;
      }
    }
    &__burger {
      width: 0;
      display: flex;
      justify-content: flex-end;
      &-label {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 8px;
      }
      &-label span {
        width: 18px;
        height: 2px;
        border: 1.5px solid black;
      }
      &-input {
        display: none;
      }
      &-input:checked ~ .navigation {
        display: block;
      }
      &-input:checked + .header__burger-label {
        display: none;
      }
    }
    &__nav {
      padding: 12px;
      display: flex;
      flex-direction: column;
      width: 100vw;
      margin-left: calc(7% - 50vw);
    }
  }
  .header__li {
    text-align: center;
    list-style: none;
    background: $grey-bg;
    margin-bottom: 10px;
    border-radius: 12px;
    padding: 7px 0px;
    &:last-child {
      margin-bottom: 0;
    }
    &:active {
      background: $grey-separator;
    }
  }
  .header__links {
    text-decoration: none;
  }
  .nav:nth-child(2) {
    display: none;
  }

  .nav:first-child {
    display: flex;
    gap: 14px;
  }
  .nav svg {
    display: none;
  }
}
@media (max-width: 430px) {
  .navigation {
    display: none;
    position: relative;
    top: -10px;
    left: 0px;
    border-radius: 12px 12px 0px 0px;
  }
  .header {
    &__bot {
      display: none;
    }
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $grey-bg;
      padding: 10px 15px;
    }
    &__mid {
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
    }
    &__mids {
      display: flex;
      gap: 4px;
      &-left {
        display: flex;
        flex-direction: column;
      }
      &-right {
        display: flex;
        gap: 2px;
        align-items: start;
      }
      &-p {
        font-size: $f-size-20;
      }
    }
    &__svg {
      &-name {
        width: 69.333px;
        height: 24.799px;
      }
      &-law {
        width: 69.333px;
        height: 3.812px;
      }
      &-slash {
        width: 11.617px;
        height: 26px;
      }
    }
    &__burger {
      width: 0;
      display: flex;
      justify-content: flex-end;
      &-label {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 8px;
      }
      &-label span {
        width: 18px;
        height: 2px;
        border: 1.5px solid black;
      }
      &-input {
        display: none;
      }
      &-input:checked ~ .navigation {
        display: block;
      }
      &-input:checked + .header__burger-label {
        display: none;
      }
    }
    &__nav {
      padding: 12px;
      display: flex;
      flex-direction: column;
      width: 100vw;
      margin-left: calc(5% - 50vw);
    }
  }
  .header__li {
    text-align: center;
    list-style: none;
    background: $grey-bg;
    margin-bottom: 10px;
    border-radius: 12px;
    padding: 7px 0px;
    &:last-child {
      margin-bottom: 0;
    }
    &:active {
      background: $grey-separator;
    }
  }
  .header__links {
    text-decoration: none;
  }
  .nav:nth-child(2) {
    display: none;
  }

  .nav:first-child {
    display: flex;
    gap: 14px;
  }
  .nav svg {
    display: none;
  }
}
@media (max-width: 767px) {
  .navigation {
    display: none;
    position: relative;
    top: -10px;
    left: 0px;
    border-radius: 12px 12px 0px 0px;
  }
  .header {
    &__bot {
      display: none;
    }
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $grey-bg;
      padding: 10px 15px;
    }
    &__mid {
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
    }
    &__mids {
      display: flex;
      gap: 4px;
      &-left {
        display: flex;
        flex-direction: column;
      }
      &-right {
        display: flex;
        gap: 2px;
        align-items: start;
      }
      &-p {
        font-size: $f-size-20;
      }
    }
    &__svg {
      &-name {
        width: 69.333px;
        height: 24.799px;
      }
      &-law {
        width: 69.333px;
        height: 3.812px;
      }
      &-slash {
        width: 11.617px;
        height: 26px;
      }
    }
    &__burger {
      width: 0;
      display: flex;
      justify-content: flex-end;
      &-label {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 8px;
      }
      &-label span {
        width: 18px;
        height: 2px;
        border: 1.5px solid black;
      }
      &-input {
        display: none;
      }
      &-input:checked ~ .navigation {
        display: block;
      }
      &-input:checked + .header__burger-label {
        display: none;
      }
    }
    &__nav {
      padding: 12px;
      display: flex;
      flex-direction: column;
      width: 100vw;
      margin-left: calc(5% - 50vw);
    }
  }
  .header__li {
    text-align: center;
    list-style: none;
    background: $grey-bg;
    margin-bottom: 10px;
    border-radius: 12px;
    padding: 7px 0px;
    &:last-child {
      margin-bottom: 0;
    }
    &:active {
      background: $grey-separator;
    }
  }
  .header__links {
    text-decoration: none;
  }
  .nav:nth-child(2) {
    display: none;
  }

  .nav:first-child {
    display: flex;
    gap: 14px;
  }
  .nav svg {
    display: none;
  }
}
@media (min-width: 768px) {
  .header {
    &__container {
      padding: 50px 60px 0px 60px;
    }
    &__burger {
      display: none;
    }
    &__top {
      display: flex;
      margin-bottom: 30px;
    }

  }
.nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__mid {
  margin-bottom: 30px;
}
.header__mids {
  display: flex;
  gap: 4px;
  &-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  &-right {
    display: flex;
    gap: 4px;
  }
}
.header__mid-p {
  @include m.font-regular;
  color: $main-regular;
  font-size: $f-size-36;
}
.headers__nav {
  display: flex;
  gap: 16px;
}
.headers__item {
    list-style: none;
   
}
.headers__link {
  text-decoration: none;
  @include m.font-bold;
  color: $active-regular;
  font-size: $f-size-16;
  border-bottom: 2px solid transparent;
  transition: color 0.25s ease, border 0.25s ease;
    &:hover {
      color: $color-accent;
      border-bottom: 2px solid $color-accent;
    }
}
}
@media (min-width: 1440px) {
  .header__left {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .header__top {
    margin-bottom: 0px;
  }
  .header__mid {
    margin-bottom: 0;
  }
  .header__bot {
    display: flex;
    justify-content: flex-end;
  }
}
