@use "../base/variables" as *;
@use "../base/mixins" as m;

.page__main .header__mid-p::after {
  content: "";
}
.splide__pagination__page {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background: $active-regular; // неактивная точка
  opacity: 0.4;
  padding: 0;
  cursor: pointer;
}
.splide__pagination__page.is-active {
  background: #24a3ff; // активная
  opacity: 1;
}
.splide__pagination {
  gap: 8px;
}
.testi {
  display: flex;
  align-items: center;
  gap: 30px;
  background: $grey-bg; // как твой светлый фон
  margin-bottom: 50px;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  &__photo {
    flex: 0 0 315px; // ширина блока с фото
    overflow: hidden;
    height: 528px;
    max-width: 648px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin-bottom: 30px;
  }

  &__tag {
    @include m.font-bold;
    font-size: $f-size-14;
    text-transform: uppercase;
    color: $active-regular;
    margin-bottom: 10px;
    text-decoration: none;
    &:hover {
      color: $color-accent;
      cursor: pointer;
    }
  }
  &__titles {
    max-width: fit-content;
  }

  &__title {
    @include m.font-bold;
    font-size: $f-size-38;
    line-height: 1.3;
    color: $color-accent;
    margin-bottom: 30px;
  }

  &__name {
    @include m.font-bold;
    font-size: $f-size-16;
    color: $grey-text;
    margin-bottom: 10px;
  }

  &__role {
    @include m.font-regular;
    font-size: $f-size-14;
    color: $main-regular;
    color: $grey-text;
  }

  /* МОДИФИКАТОР: поменять местами фото и текст */
  &.testi--reverse {
    flex-direction: row-reverse;
  }
}
.hero {
  background: $gradient-superSoft;
  position: relative;
  &__section {
    margin-bottom: 30px;
    &-p {
      @include m.font-bold;
      color: $basic-white;
      font-size: $f-size-38;
      margin: 130px 0 160px 0;
      z-index: 2;
      position: relative;
      text-align: center;
    }
    &-svg {
      z-index: 2;
      position: relative;
      margin-bottom: 40px;
    }
  }
  &__sections {
    padding: 30px;
  }
}
.menu__left {
  padding-left: 30px;
  &-ul {
    display: flex;
    gap: 40px;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }
  &-li {
    list-style: none;
  }
  &-a {
    @include m.font-bold;
    font-size: $f-size-30;
    color: $grey-text;
    background: none;
    text-decoration: none;
    &:hover {
      background: $gradient-textRed;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.menu__hr {
  padding: 30px 0px;
  &-r {
    border: 2px solid rgba(255, 255, 255, 0.3);
  }
}
.menu__right {
  margin-bottom: 30px;
  &-h4 {
    color: $basic-white;
    @include m.font-bold;
    font-size: $f-size-20;
    margin-bottom: 30px;
  }
  &-p {
    align-self: stretch;
    color: $basic-white;
    @include m.font-regular;
    font-size: 19px;
  }
}
.icons__top {
  margin-bottom: 30px;
  &-a {
    text-decoration: none;
    color: $active-regular;
    @include m.font-bold;
    font-size: $f-size-14;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &-h3 {
    @include m.font-bold;
    font-size: $f-size-30;
    background: var(
      --Gradient-Red-Text,
      linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
  }
}
.icons {
  &__logo {
    width: fit-content;
    padding: 14px;
    background: $basic-white;
    border-radius: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  &__text {
    &-h4 {
      color: $active-regular;
      @include m.font-bold;
      font-size: $f-size-22;
      margin-bottom: 15px;
    }
    &-p {
      color: $basic-white;
      @include m.font-regular;
      font-size: $f-size-16;
    }
  }
}

.main__logo {
  margin-top: 60px;
  &-p {
    color: $main-regular;
    @include m.font-bold;
    font-size: $f-size-14;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
}
.main__logos {
  display: flex;
  justify-content: center;
  &-img {
    max-width: 375px;
    padding: 36px 78px;
  }
  &-hillel {
    background: rgba(28, 66, 128, 1);
  }
  &-wanna {
    background: rgba(20, 54, 70, 1);
  }
  &-orange {
    background: linear-gradient(0deg, #f48b30 0%, #f48b30 100%), #f48b30;
  }
  &-purple {
    background: rgba(158, 77, 195, 1);
  }
  &-adtelligent {
    background: rgba(226, 226, 228, 1);
  }
  &-clickky {
    background: rgba(199, 28, 54, 1);
  }
  &-eco {
    background: rgba(220, 243, 249, 1);
  }
  &-infra {
    background: rgba(234, 234, 234, 1);
  }
  &-city {
    background: rgba(40, 34, 64, 1);
  }
  &-artprint {
    background: rgba(29, 69, 104, 1);
  }
  &-ultimate {
    background: rgba(0, 0, 0, 1);
  }
}
.publications__links {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  &-main {
    text-decoration: none;
    color: $active-regular;
    font-size: $f-size-14;
    @include m.font-bold;
    text-transform: uppercase;
  }
}
.publications__title-main {
  @include m.font-bold;
  font-size: $f-size-30;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 30px;
}
.publications__index {
  background: $grey-bg;
}
.publications__cards-index {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}
.main__hr-r {
  border: 2px solid $grey-separator;
}
.conrainer-hr {
  padding: 0 30px;
}
@media (max-width: 768px) {
  .testi {
    flex-direction: column;

    &.testi--reverse {
      flex-direction: column; // на мобилке все одинаково
    }

    &__photo {
      flex: 0 0 auto;
      max-height: 500px;
    }
  }
}
@media (max-width: 375px) {
  .hero {
    &__section {
      overflow: hidden;
      position: relative;
      &-img {
        position: absolute;
        max-height: 600px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
      }
    }
    &__svgs {
      text-align: center;
    }
  }
  .testi {
    flex-direction: column;

    &.testi--reverse {
      flex-direction: column; // на мобилке все одинаково
    }
    &__title {
      font-size: $f-size-30;
    }

    &__photo {
      flex: 0 0 auto;
      max-height: 500px;
      max-width: 315px;
    }
  }
  .main__logos {
    &:nth-child(8) {
      display: none;
    }
    &:nth-child(9) {
      display: none;
    }
    &:nth-child(10) {
      display: none;
    }
    &:nth-child(11) {
      display: none;
    }
    &:nth-child(12) {
      display: none;
    }
    &:nth-child(13) {
      display: none;
    }
   &-hillels {
    padding: 36px 78px;
   }
   &-wannas {
    padding: 36px 88px;
   }
   &-tapgerines {
    padding: 38px 98px;
   }
   &-looks {
    padding: 40px 98px;
   }
   &-orangears {
    padding: 38px 100px;
   }
   &-adtelliges {
    padding: 36px 90px;
   }
}
}