@use "../base/variables" as *;
@use "../base/mixins" as m;
.icons__logo:hover {
  cursor: pointer;
  background: #E7E7F2;
}
.splide__pagination__page {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background: $active-regular; // неактивная точка
  opacity: 0.4;
  padding: 0;
  cursor: pointer;
}
.splide__pagination__page.is-active {
  background: #24a3ff; // активная
  opacity: 1;
}
.splide__pagination {
  gap: 8px;
}
.testi {
  display: flex;
  align-items: center;
  gap: 30px;
  background: $grey-bg; // как твой светлый фон
  margin-bottom: 50px;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  &__photo {
    flex: 0 0 315px; // ширина блока с фото
    overflow: hidden;
    height: 528px;
    max-width: 648px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin-bottom: 30px;
  }

  &__tag {
    @include m.font-bold;
    font-size: $f-size-14;
    text-transform: uppercase;
    color: $active-regular;
    margin-bottom: 10px;
    text-decoration: none;
    &:hover {
      color: $color-accent;
      cursor: pointer;
    }
  }
  &__titles {
    max-width: fit-content;
  }

  &__title {
    @include m.font-bold;
    font-size: $f-size-38;
    line-height: 1.3;
    color: $color-accent;
    margin-bottom: 30px;
  }

  &__name {
    @include m.font-bold;
    font-size: $f-size-16;
    color: $grey-text;
    margin-bottom: 10px;
  }

  &__role {
    @include m.font-regular;
    font-size: $f-size-14;
    color: $main-regular;
    color: $grey-text;
  }

  /* МОДИФИКАТОР: поменять местами фото и текст */
  &.testi--reverse {
    flex-direction: row-reverse;
  }
}
.hero {
  background: $gradient-superSoft;
  position: relative;
  &__section {
    margin-bottom: 30px;
    &-p {
      @include m.font-bold;
      color: $basic-white;
      font-size: $f-size-38;
      margin: 130px 0 160px 0;
      z-index: 2;
      position: relative;
      text-align: center;
    }
    &-svg {
      z-index: 2;
      position: relative;
      margin-bottom: 40px;
    }
  }
  &__sections {
    padding: 30px;
  }
}
.menu__left {
  padding-left: 30px;
  &-ul {
    display: flex;
    gap: 40px;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }
  &-li {
    list-style: none;
  }
  &-a {
    @include m.font-bold;
    font-size: $f-size-30;
    color: $grey-text;
    background: none;
    text-decoration: none;
    &:hover {
      background: $gradient-textRed;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.menu__hr {
  padding: 30px 0px;
  &-r {
    border: 2px solid rgba(255, 255, 255, 0.3);
  }
}
.menu__right {
  margin-bottom: 30px;
  &-h4 {
    color: $basic-white;
    @include m.font-bold;
    font-size: $f-size-20;
    margin-bottom: 30px;
  }
  &-p {
    align-self: stretch;
    color: $basic-white;
    @include m.font-regular;
    font-size: 19px;
  }
}
.icons__top {
  margin-bottom: 30px;
  &-a {
    text-decoration: none;
    color: $active-regular;
    @include m.font-bold;
    font-size: $f-size-14;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &-h3 {
    @include m.font-bold;
    font-size: $f-size-30;
    background: var(
      --Gradient-Red-Text,
      linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
  }
}
.icons {
  &__logo {
    width: fit-content;
    padding: 14px;
    background: $basic-white;
    border-radius: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  &__text {
    &-h4 {
      color: $active-regular;
      @include m.font-bold;
      font-size: $f-size-22;
      margin-bottom: 15px;
    }
    &-p {
      color: $basic-white;
      @include m.font-regular;
      font-size: $f-size-16;
    }
  }
}
.main__logo {
  margin-top: 60px;
  &-p {
    color: $main-regular;
    @include m.font-bold;
    font-size: $f-size-14;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
}
.main__logos {
  display: flex;
  justify-content: center;
  &-img {
    max-width: 375px;
    padding: 36px 78px;
  }
  &-hillel {
    background: rgba(28, 66, 128, 1);
  }
  &-wanna {
    background: rgba(20, 54, 70, 1);
  }
  &-orange {
    background: linear-gradient(0deg, #f48b30 0%, #f48b30 100%), #f48b30;
  }
  &-purple {
    background: rgba(158, 77, 195, 1);
  }
  &-adtelligent {
    background: rgba(226, 226, 228, 1);
  }
  &-clickky {
    background: rgba(199, 28, 54, 1);
  }
  &-eco {
    background: rgba(220, 243, 249, 1);
  }
  &-infra {
    background: rgba(234, 234, 234, 1);
  }
  &-city {
    background: rgba(40, 34, 64, 1);
  }
  &-artprint {
    background: rgba(29, 69, 104, 1);
  }
  &-ultimate {
    background: rgba(0, 0, 0, 1);
  }
}
.publications__links {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  &-main {
    text-decoration: none;
    color: $active-regular;
    font-size: $f-size-14;
    @include m.font-bold;
    text-transform: uppercase;
  }
}
.publications__title-main {
  @include m.font-bold;
  font-size: $f-size-30;
  background: var(
    --Gradient-Red-Text,
    linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
.publications__index {
  background: $grey-bg;
}
.publications__cards-index {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}
.main__hr-r {
  border: 2px solid $grey-separator;
}
.conrainer {
  padding: 0 30px;
}
.container-hr {
  padding: 0;
}
.hero__svgs:hover {
   cursor: pointer;
}
.hero__svgs:hover .hero__sections-svgg {
  stroke: $color-accent;
}
.heroo__hr {
  margin: 0 auto;
  padding: 0 20px;
  &-ht {
    margin-top: -2px;
  }
  &-r {
    outline: none;
    border: 4px solid #CACADB;
    border-radius: 0 0 12px 12px;
    z-index: 2;
    position: relative;
  }
  &-rr {
     outline: none;
    border: 4px solid #E7E7F2;
    border-radius: 0 0 12px 12px;
    z-index: 1;
  }
}
@media (max-width: 1920px) {
  .hero {
    &__section {
      overflow: hidden;
      position: relative;
      margin-bottom: 60px;
      &-img {
        position: absolute;
        max-width: 893px;
        max-height: 1024px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
      }
      &-p {
        margin-top: 360px;
        margin-bottom: 300px;
      }
    }
    &__svgs {
      text-align: center;
    }
  }
  .icons__top {
    margin-bottom: 60px;
  }
  .icons__bot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;
    padding-bottom: 60px;
  }
  .main__logo {
    display: grid;
    grid-template-columns: repeat(4, 430px);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0px 100px;
     margin-bottom: 60px;
    &-p {
      margin-top: 60px;
    }
  }
  .main__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 430px;
    height: 120px;
    &-img {
      max-width: 430px;
      height: 120px;
    }
  }
  .public__card {
    display: grid;
    grid-template-columns: repeat(3, 520px);
    justify-content: center;
    gap: 40px;
  }
  .publications__index {
    display: block;
    padding-top: 60px;
  }
  .blox__link-index img {
    width: 100%;
  }
  .contra {
    display: flex;
    justify-content: center;
    padding: 0px 180px;
    margin-bottom: 60px;
  }
  .menu__left {
    flex: 1 1 50%;
    text-align: right;
    padding-right: 60px;
      &-ul {
        display: flex;
    flex-direction: column;
        white-space: wrap;
      }
  }
  .container__flexs {
    padding: 0;
    display: flex;
    flex: 1 1 50%;
  }
  .menu__hr {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    &-r {
      height: 303px;
      margin: 0px 60px 0px 0px;
    }
  }
  .container__splide {
    padding: 0px 60px;
    margin-top: 60px;
  }
}
@media (max-width: 1440px) {
  .hero {
    &__section {
      overflow: hidden;
      position: relative;
      margin-bottom: 60px;
      &-img {
        position: absolute;
        max-width: 893px;
        max-height: 1024px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
      }
      &-p {
        margin-top: 360px;
        margin-bottom: 300px;
      }
    }
    &__svgs {
      text-align: center;
    }
  }
  .icons__top {
    margin-bottom: 60px;
  }
  .icons__bot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;
  }
  .main__logo {
    display: grid;
    grid-template-columns: repeat(4, 360px);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0px;
     margin-bottom: 0px;
    &-p {
      margin-top: 60px;
    }
  }
  .main__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 360px;
    height: 120px;
    &-img {
      max-width: 360px;
      height: 120px;
      // padding: 36px 100px;
    }
  }
  .public__card {
    display: grid;
    grid-template-columns: repeat(3, 420px);
    justify-content: center;
    gap: 40px;
  }
  .publications__index {
    display: block;
    padding-top: 60px;
  }
  .blox__link-index img {
    width: 100%;
  }
  .contra {
    display: flex;
    justify-content: center;
    padding: 0px 180px;
    margin-bottom: 60px;
  }
  .menu__left {
    flex: 1 1 50%;
    text-align: right;
    padding-right: 60px;
      &-ul {
        display: flex;
    flex-direction: column;
        white-space: wrap;
      }
  }
  .container__flexs {
    padding: 0;
    display: flex;
    flex: 1 1 50%;
  }
  .menu__hr {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    &-r {
      height: 303px;
      margin: 0px 60px 0px 0px;
    }
  }
  .container__splide {
    padding: 0px 60px;
    margin-top: 60px;
  }
}
@media (max-width: 1024px) {
  .container__splide {
    margin-top: 60px;
  }
  .hero {
    &__section {
      overflow: hidden;
      position: relative;
      margin-bottom: 60px;
      &-img {
        position: absolute;
        max-width: 893px;
        max-height: 1024px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
      }
      &-p {
        margin-top: 360px;
        margin-bottom: 300px;
      }
    }
    &__svgs {
      text-align: center;
    }
     &__icons {
      margin-bottom: 0px;
    }
  }
  .icons__top {
    margin-bottom: 60px;
  }
  .icons__bot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;
    padding-bottom: 0px;
  }
  .main__logo {
    display: grid;
    grid-template-columns: repeat(4, 256px);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0px;
     margin-bottom: 0px;
     
  }
  .main__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 256px;
    height: 120px;
    &-img {
      max-width: 256px;
      padding: 36px 60px;
    }
  }
  .public__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  .publications__index {
    display: block;
  }
  .blox__link-index img {
    width: 100%;
  }
  .contra {
    display: flex;
    justify-content: center;
    padding: 0px 60px;
    margin-bottom: 0px;
  }
  .menu__left {
    flex: 1 1 50%;
    text-align: right;
    padding-right: 60px;
      &-ul {
        display: flex;
    flex-direction: column;
        white-space: wrap;
      }
  }
  .container__flexs {
    padding: 0;
    display: flex;
    flex: 1 1 50%;
  }
  .menu__hr {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    &-r {
      height: 303px;
      margin: 0px 60px 0px 0px;
    }
  }
}
@media (max-width: 768px) {
  .container__splide {
    margin-top: 60px;
  }
  .testi {
    flex-direction: column;
    display: block;

    &.testi--reverse {
      flex-direction: column; // на мобилке все одинаково
    }

    &__photo {
      flex: 0 0 auto;
      margin-bottom: 30px;
    }
  }
  .hero {
    &__section {
      overflow: hidden;
      position: relative;
      margin-bottom: 60px;
      &-img {
        position: absolute;
        max-width: 893px;
        max-height: 1024px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
      }
      &-p {
        margin-top: 270px;
        margin-bottom: 400px;
      }
    }
    &__svgs {
      text-align: center;
    }
     &__icons {
      margin-bottom: 0px;
    }
  }
  .icons__top {
    margin-bottom: 60px;
  }
  .icons__bot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 60px;
    padding-bottom: 0px;
  }
  .main__logo {
    display: grid;
    grid-template-columns: repeat(3, 256px);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0px;
     margin-bottom: 0px;
  }
  .main__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 256px;
    height: 120px;
    &-img {
      max-width: 256px;
      padding: 40px 60px;
    }
  }
  .public__card {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); // 2 колонки
    gap: 30px;
  }
  .publications__index {
    display: block;
  }
  .publications__cards-index:nth-child(3) {
    grid-column: 1 / -1;
  }
  .blox__link-index img {
    width: 100%;
  }
  .contra {
    display: block;
    margin-bottom: 0px;
  }
  .container__flexs {
    display: block;
  }
  .menu__hr {
    display: block;
    justify-content: flex-end;
    padding: 0;
    &-r {
      height: 0px;
      margin: 0px 60px 0px 0px;
    }
  }
  .menu__left {
  padding: 0;
  &-ul {
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }
  &-li {
    list-style: none;
  }
  &-a {
    @include m.font-bold;
    font-size: $f-size-30;
    color: $grey-text;
    background: none;
    text-decoration: none;
    &:hover {
      background: $gradient-textRed;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.menu__hr {
  padding: 30px 30px 30px 0px;
  &-r {
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.3);
  }
}
.menu__right {
  margin-bottom: 30px;
  padding-right: 30px;
  &-h4 {
    color: $basic-white;
    @include m.font-bold;
    font-size: $f-size-20;
    margin-bottom: 30px;
  }
  &-p {
    align-self: stretch;
    color: $basic-white;
    @include m.font-regular;
    font-size: 19px;
  }
}
}
@media (max-width: 425px) {
  .testi {
    flex-direction: column;

    &.testi--reverse {
      flex-direction: column; // на мобилке все одинаково
    }

    &__photo {
      flex: 0 0 auto;
      max-height: 500px;
    }
  }
  .hero {
    &__section {
      overflow: hidden;
      position: relative;
      &-img {
        position: absolute;

        max-height: 600px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
      }
      &-p {
        margin: 180px 0px;
      }
    }
    &__svgs {
      text-align: center;
    }
     &__icons {
      margin-bottom: 0px;
    }
  }
  .main__logo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px;
    margin-bottom: 0px;
  }
  .main__logos {
    max-width: 100%;
    &:nth-child(7) {
      display: none;
    }
    &:nth-child(8) {
      display: none;
    }
    &:nth-child(9) {
      display: none;
    }
    &:nth-child(10) {
      display: none;
    }
    &:nth-child(11) {
      display: none;
    }
    &:nth-child(12) {
      display: none;
    }
    &:nth-child(13) {
      display: none;
    }
    &-hillels {
      padding: 0;
    }
    &-wannas {
      padding: 0;
    }
    &-tapgerines {
      padding: 0;
    }
    &-looks {
      padding: 0;
    }
    &-orangears {
      padding: 0;
    }
    &-adtelliges {
      padding: 0;
    }
    &-img {
      padding: 30px 30px;
    }
  }
  .page__main .header__mid-p::after {
    content: "services";
    font-size: $f-size-20;
  }
  .icons__bot {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 0px;
  }
  .publications__index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .public__card {
    display: block;
  }
  .contra {
    display: block;
    padding: 0px 0px 0px 30px;
    margin-bottom: 0px;
  }
  .menu__left {
    flex: 1 1 50%;
    text-align: right;
    padding-right: 60px;
      &-ul {
        display: flex;
    flex-direction: column;
        white-space: wrap;
      }
  }
  .container__flexs {
    display: block;
  }
  .menu__hr {
    display: block;
    justify-content: flex-end;
    padding: 0;
    &-r {
      height: 0px;
      margin: 0px 60px 0px 0px;
    }
  }
  .menu__left {
  padding: 0;
  &-ul {
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }
  &-li {
    list-style: none;
  }
  &-a {
    @include m.font-bold;
    font-size: $f-size-30;
    color: $grey-text;
    background: none;
    text-decoration: none;
    &:hover {
      background: $gradient-textRed;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.menu__hr {
  padding: 30px 30px 30px 0px;
  &-r {
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.3);
  }
}
.menu__right {
  margin-bottom: 30px;
  padding-right: 30px;
  &-h4 {
    color: $basic-white;
    @include m.font-bold;
    font-size: $f-size-20;
    margin-bottom: 30px;
  }
  &-p {
    align-self: stretch;
    color: $basic-white;
    @include m.font-regular;
    font-size: 19px;
  }
}
}
@media (max-width: 375px) {
      .container__splide {
        padding: 0px 30px;
        margin-top: 30px;
    }
  .hero {
    &__section {
      overflow: hidden;
      position: relative;
      &-img {
        position: absolute;
        max-height: 600px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
      }
      &-p {
        margin: 130px 0px;
      }
    }
    &__svgs {
      text-align: center;
    }
     &__icons {
      margin-bottom: 0px;
    }
  }
  .testi {
    flex-direction: column;

    &.testi--reverse {
      flex-direction: column; // на мобилке все одинаково
    }
    &__title {
      font-size: $f-size-30;
    }

    &__photo {
      flex: 0 0 auto;
      max-height: 500px;
      max-width: 315px;
    }
  }
  .main__logo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px;
    margin-bottom: 0px;
  }
  .main__logos {
    max-width: 374px;
    &:nth-child(7) {
      display: none;
    }
    &:nth-child(8) {
      display: none;
    }
    &:nth-child(9) {
      display: none;
    }
    &:nth-child(10) {
      display: none;
    }
    &:nth-child(11) {
      display: none;
    }
    &:nth-child(12) {
      display: none;
    }
    &:nth-child(13) {
      display: none;
    }
    &-hillels {
      padding: 0;
    }
    &-wannas {
      padding: 0;
    }
    &-tapgerines {
      padding: 0;
    }
    &-looks {
      padding: 0;
    }
    &-orangears {
      padding: 0;
    }
    &-adtelliges {
      padding: 0;
    }
    &-img {
      padding: 30px 10px;
    }
  }
  .page__main .header__mid-p::after {
    content: "services";
    font-size: $f-size-20;
  }
  .icons__bot {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 0px;
  }
  .publications__index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .publications__index {
    padding: 30px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: px;
    grid-row-gap: 30px;
  }
  .public__card {
    display: block;
  }
}
