@use "../base/variables" as *;
@use "../base/mixins" as m;

.page__main .header__mid-p::after {
  content: "";
}

.testi {
  display: flex;
  align-items: stretch;
  gap: 60px;
  padding: 40px;
  border-radius: 20px;
  background: $grey-bg; // как твой светлый фон
  box-shadow: 0 15px 25px rgba(40, 40, 86, 0.1);

  &__photo {
    flex: 0 0 320px; // ширина блока с фото
    border-radius: 20px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__tag {
    @include m.font-bold;
    font-size: $f-size-14;
    text-transform: uppercase;
    color: $active-regular;
    margin-bottom: 10px;
  }

  &__title {
    @include m.font-bold;
    font-size: $f-size-38;
    line-height: 1.3;
    color: $color-accent;
    margin-bottom: 20px;
  }

  &__name {
    @include m.font-bold;
    font-size: $f-size-16;
    color: $main-regular;
  }

  &__role {
    @include m.font-regular;
    font-size: $f-size-14;
    color: $main-regular;
    opacity: 0.7;
  }

  /* МОДИФИКАТОР: поменять местами фото и текст */
  &.testi--reverse {
    flex-direction: row-reverse;
  }
}
.hero {
  background: $gradient-superSoft;
  position: relative;
  &__section {
    &-p {
      @include m.font-bold;
      color: $basic-white;
      font-size: $f-size-38;
      margin: 130px 0 160px 0;
      z-index: 2;
      position: relative;
      text-align: center;
    }
    &-svg {
      z-index: 2;
      position: relative;
      margin-bottom: 60px;
    }
  }
}
.menu__left {
  &-ul {
    display: flex;
    gap: 40px;
    overflow: auto;
    white-space: nowrap;
  }
  &-li {
    list-style: none;
  }
  &-a {
    @include m.font-bold;
    font-size: $f-size-30;
    color: $grey-text;
    background: none;
    text-decoration: none;
    &:hover {
      background: $gradient-textRed;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.menu__hr {
  padding: 30px 0px;
  &-r {
    border: 2px solid rgba(255, 255, 255, 0.3);
  }
}
.menu__right {
  margin-bottom: 30px;
  &-h4 {
    color: $basic-white;
    @include m.font-bold;
    font-size: $f-size-20;
    margin-bottom: 30px;
  }
  &-p {
    align-self: stretch;
    color: $basic-white;
    @include m.font-regular;
    font-size: 19px;
  }
}
.icons__top {
    margin-bottom: 30px;
  &-a {
    text-decoration: none;
    color: $active-regular;
    @include m.font-bold;
    font-size: $f-size-14;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &-h3 {
    @include m.font-bold;
    font-size: $f-size-30;
    background: var(
      --Gradient-Red-Text,
      linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
  }
}
.icons {
    &__logo {
        width: fit-content;
        padding: 14px;
        background: $basic-white;
        border-radius: 24px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    &__text {
        &-h4 {
            color: $active-regular;
            @include m.font-bold;
            font-size: $f-size-22;
            margin-bottom: 15px;
        }
        &-p {
            color: $basic-white;
            @include m.font-regular;
            font-size: $f-size-16;
        }
    }
}

@media (max-width: 768px) {
  .testi {
    flex-direction: column;
    padding: 20px;

    &.testi--reverse {
      flex-direction: column; // на мобилке все одинаково
    }

    &__photo {
      flex: 0 0 auto;
      max-height: 260px;
    }
  }
}
@media (max-width: 375px) {
  .hero {
    &__section {
      position: relative;
      &-img {
        position: absolute;
        max-height: 600px;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &-svg {
        margin-left: 50%;
        margin-top: 25%;
      }
    }
  }
}
