@use "../base/variables" as *;
@use "../base/mixins" as m;
.page__publications .header__mid-p::after {
  content: 'publications';
}
.container__publications {
  background: $grey-bg;
  margin-top: 60px;
}
.publications__button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.publications__buttons {
  display: flex;
  padding: 2px;
  gap: 2px;
  border-radius: 12px;
  background: $grey-separator;
  max-width: fit-content;
  &-btn {
    @include m.font-bold;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    color: $main-regular;
    font-size: $f-size-16;
    background: $basic-white;
    &:hover {
      cursor: pointer;
    }
  }
  &-btns {
    @include m.font-bold;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    color: $main-regular;
    font-size: $f-size-16;
    background: none;
    &:hover {
      cursor: pointer;
      background: $grey-bg;
    }
  }
}
.publications {
  padding: 30px 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: px;
  grid-row-gap: 30px;

  &__cards {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: $basic-white;
  }
}
.blox1 {
  padding: 30px;
  &__title {
    color: $active-regular;
    @include m.font-bold;
    font-size: $f-size-16;
    margin-bottom: 15px;
  }
  &__subtitle {
    color: $grey-text;
    @include m.font-bold;
    font-size: $f-size-12;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &__hr {
    padding: 15px 0px;
    &-r {
      border: 2px solid $grey-separator;
    }
  }
  &__describe {
    color: $basic-black;
    @include m.font-regular;
    font-size: $f-size-14;
    line-height: 22px;
  }
}

.blox__link img {
  width: 260px;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.public__button {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  &-btn {
    padding: 18px 30px;
    color: $basic-white;
    @include m.font-bold;
    font-size: $f-size-16;
    background: $active-regular;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.5);
    &:hover {
      cursor: pointer;
      background: $active-hover;
    }
  }
}
.publics__hr-r {
  border: 2px solid $grey-separator;
}

@media (min-width: 375px) {
  .blox__link img {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .page__publications .header__mid-p::after {
  content: 'publications';
  font-size: 20px;
}
  .container__publications {
   margin-top: 30px;
  }
}

@media (min-width: 425px) {
  .blox__link img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .blox__link img {
    width: 100%;
  }
  .publications {
    padding: 30px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

@media (min-width: 1024px) {
  .blox__link img {
    width: 100%;
  }
  .publications {
    padding: 30px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

@media (min-width: 1440px) {
  .blox__link img {
    width: 420px;
  }
  .container__publications {
  padding: 0px 60px;
  padding-top: 30px;
}
}

@media (min-width: 1920px) {
  .blox__link img {
    width: 513.33px;
  }
    .container__publications {
  padding: 0px 160px;
  padding-top: 30px;
}
}
