@use "../base/variables" as *;
@use "../base/mixins" as m;

.page__team .header__mid-p::after {
  content: 'team';
}
.team__text {
  @include m.font-bold;
  font-size: $f-size-38;
  line-height: normal;
  background: var(
    --Gradient-Red-Text,
    linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 60px;
}
.tableses {
  margin-bottom: 60px;
  &__top {
    width: 100%;
    height: 400px;
    border-radius: 12px;
    margin-bottom: 15px;
    &.img1 {
      background: lightgray 50% center / cover no-repeat
        url("../img/Team/Team-1.jpg");
    }
    &.img2 {
      background: lightgray 50% center / cover no-repeat
        url("../img/Team/Team-2.jpg");
    }
    &.img3 {
      background: lightgray 50% center / cover no-repeat
        url("../img/Team/Team-3.jpg");
    }
    &.img4 {
      background: lightgray 50% center / cover no-repeat
        url("../img/Team/Team-4.jpg");
    }
    &.img5 {
      background: lightgray 50% center / cover no-repeat
        url("../img/Team/Team-5.jpg");
    }
    &.img6 {
      background: lightgray 50% center / cover no-repeat
        url("../img/Team/Team-6.jpg");
    }
  }
  &__bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    &-name {
      @include m.font-bold;
      font-size: $f-size-16;
      color: $main-regular;
    }
    &-prof {
      @include m.font-regular;
      font-size: $f-size-14;
      color: $grey-text;
    }
  }
}
.tableses__bot:hover {
  cursor: pointer;
}
.tableses__bot:hover .tableses__right-path {
  stroke: $color-accent;
}
.tableses__bot:hover .tableses__left-name {
  color: $color-accent;
}



@media (max-width: 1920px) {
  .team__text {
    padding: 0px 280px;
  }
  .container__team {
    padding: 60px 160px;
  }
  .team__table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 0px;
  }
}
@media (max-width: 1440px) {
  .team__text {
    padding: 0px 180px;
  }
  .container__team {
    padding: 60px 60px;
  }
  .team__table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 0px;
  }
}
@media (max-width: 1024px) {
  .team__text {
    padding: 0px 180px;
  }
  .team__table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 0px;
  }
}
@media (max-width: 768px) {
  .team__table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 0px;
  }
  .team__text {
    padding: 0;
  }
}
@media (max-width: 430px) {
  .page__team .header__mid-p::after {
  content: 'team';
  font-size: 20px;
}
  .tableses {
    margin-bottom: 30px;
    &-top {
        height: 300px;
    }
  }
  .team__text {
    font-size: $f-size-30;
    margin-bottom: 30px;
  }
  .container__team {
    padding: 30px;
  }
  .team__text {
    padding: 0;
  }
  .team__table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}