@use "../base/variables" as *;
@use "../base/mixins" as m;

.entry {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    margin-bottom: 30px;

    &__img {
        flex: 0 0 315px;
        width: 315px;
        height: 375px;
        border-radius: 12px;
        background: lightgray 50% center / cover no-repeat url("../img/Team/Team-5.jpg");
    }

    &__name {
        &-h3 {
            @include m.font-bold;
            font-size: $f-size-38;
            background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 15px;
        }

        &-prof {
            color: $grey-text;
            @include m.font-regular;
            font-size: $f-size-14;
            line-height: 22px;
            margin-bottom: 10px;
        }

        &-email {
            color: $active-regular;
            @include m.font-regular;
            font-size: $f-size-16;
            margin-bottom: 10px;
        }

        &-link {
            color: $active-regular;
            @include m.font-regular;
            font-size: $f-size-16;
        }
    }

    &__hr {
        border: 2px solid $grey-separator;
        margin: 30px 0px;
    }

    &__about {
        margin-bottom: 30px;

        &-text {
            @include m.font-regular;
            font-size: $f-size-16;
            color: $basic-black;
            line-height: 26px;
        }

        &-br {
            display: block;
            height: 20px;
        }
    }

    &__education {
        &-name {
            @include m.font-bold;
            font-size: $f-size-14;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $main-regular;
            margin-bottom: 15px;
        }

        &-names {
            color: $basic-black;
            @include m.font-regular;
            font-size: $f-size-16;
            line-height: 26px;
            margin-bottom: 30px;
        }
    }

    .entry__experience>.entry__education-names {
        margin-bottom: 0;
    }
}

.entrys {
    flex: 1 1 auto;
}

@media (max-width:1920px) {
    .entry {
        margin-top: 60px;
    }
    .entry__img {
        flex: 0 0 400px;
        max-width: 400px;
        height: 500px;
    }
}

@media (max-width:1440px) {
    .entry__img {
        flex: 0 0 400px;
        max-width: 400px;
        height: 500px;
    }
}

@media (max-width: 1024px) {
    .entry {
        margin-top: 0;
    }

    .entry__img {
        flex: 0 0 300px;
        max-width: 300px;
        height: 375px;
    }
}

@media (miт-width: 768px) {
    .entry {
        display: flex;
        gap: 30px;
        align-items: flex-start;
    }

    .entry__img {
        flex: 0 0 260px; // ширина блока с фото
        max-width: 260px;
        height: 340px;
        margin-bottom: 0; // уже не нужно, мы в ряд
    }

    .entrys {
        flex: 1 1 auto; // блок с именем занимает оставшееся место
    }
}

@media (max-width: 430px) {
    .entry {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .entry__img {
        width: 100%;
        max-width: 315px;
        height: 375px;
        max-height: 375px;
    }
}





// @media (max-width: 1024px) {
//   .entry {
//     gap: 60px;
//     display: flex;
//     &__img {
//         width: 300px;
//         min-width: 300px;
//         height: 375px;
//         margin-bottom: 0;
//     }
//   }
//   .entrys {
//     flex: 1;
//   }
// }
// @media (max-width: 768px) {
//     .entry {
//         display: flex;
//         align-items: center;
//         gap: 30px;
//         &__name {
//             justify-content: center;
//         }
//     }
//     .entrys {
//         flex: 1;
//     }
//      .entry__img {
//         flex-direction: column;
//         max-width: 315px;
//         height: 375px;
//         flex: 0 0 315px;
//     }
// }
// @media (max-width: 430px) {
//     .entry {
//         display: grid;
//         grid-template-columns: 1fr;
//         gap: 0;
//     }
//      .entry__img {
//         max-width: 315px;
//         height: 375px;
//         margin-bottom: 30px;
//     }
// }