@font-face {
  font-family: "Montserrat Regular";
  src: url("../../src/fonts/Montserrat-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../../src/fonts/Montserrat-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 50px 60px 0px;
  background: rgb(50, 50, 100);
}

.logo {
  display: flex;
  gap: 4px;
}

.logos {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.slash {
  display: flex;
  gap: 4px;
}
.slash__text {
  color: #fff;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 36px;
  line-height: normal;
}

.top__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 18px;
}
.top__nav-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #fff;
  list-style: none;
  padding: 5px 7px;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.top__nav-item:last-child {
  padding: 0;
  padding-left: 7px;
}
.top__nav-item:nth-child(-n+3) {
  font-size: 12px;
}
.top__nav-item:nth-child(-n+3):hover {
  background: rgba(245, 245, 250, 0.2);
  color: #fff;
  cursor: pointer;
}
.top__nav-item:last-child:hover {
  background: none;
}
.top__nav-item:last-child:hover .svg__path {
  fill: rgb(240, 20, 90);
  cursor: pointer;
}
.top__nav-item:last-child:hover .svg__paths {
  cursor: pointer;
}
.top__nav-item:nth-child(-n+3):active {
  background: rgb(240, 20, 90);
  color: #fff;
}
.top__nav-item:nth-child(5) {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bot__nav {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.bot__nav-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  font-size: 16px;
  list-style: none;
  border-bottom: 3px solid transparent;
  transition: color 0.2s ease, border 0.2s ease;
}
.bot__nav-item:hover {
  color: rgb(240, 20, 90);
  border-bottom: 3px solid rgb(240, 20, 90);
  cursor: pointer;
}

.navigation {
  display: none;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header__left {
    margin-top: 30px;
  }
  .header__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .top__nav {
    margin-top: -110px;
  }
  .bot__nav {
    margin-top: 30px;
  }
}
@media (max-width: 430px) {
  .navigation {
    display: block;
  }
  .header {
    padding: 0px;
  }
  .header__left {
    width: 430px;
    padding: 0px 15px 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .logo {
    margin-top: 30px;
  }
  .slash__text {
    font-size: 20px;
  }
  .whites {
    display: none;
  }
  .top__nav {
    padding: 10px 15px;
    background: rgba(245, 245, 250, 0.2);
    margin-top: -103px;
    width: 430px;
    display: flex;
    justify-content: normal;
  }
  .top__nav-item:nth-child(5) {
    display: none;
  }
  .top__nav-item:nth-child(7) {
    margin-left: 130px;
  }
  .top__nav-item:nth-child(9) {
    display: none;
  }
  .top__nav-item:nth-child(3) {
    margin-right: 50px;
  }
  .bot {
    display: none;
  }
  .logoss {
    max-width: 70px;
    max-height: 25px;
  }
  .logosss {
    max-width: 70px;
    max-height: 4px;
  }
  .slashh {
    max-width: 12px;
    max-height: 26px;
  }
  .navigation {
    position: relative;
  }
  .nav {
    display: none;
    position: absolute;
    top: 50px;
    left: -336px;
    text-align: right;
  }
  .nav__list {
    padding: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .nav__list-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    list-style: none;
    padding: 7px 112px;
    background: rgb(245, 245, 250);
    margin-bottom: 15px;
    border-radius: 12px;
  }
  .nav__list-link {
    text-decoration: none;
    color: rgb(36, 163, 255);
  }
  .nav__check:checked + .nav__menu {
    border-radius: 8px;
    background: rgba(245, 245, 250, 0.2);
  }
  .nav__check:checked ~ .nav {
    display: block;
  }
  .nav__check {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
  }
  .nav__menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}
@media (max-width: 375px) {
  .navigation {
    display: block;
  }
  .header {
    padding: 0px;
  }
  .header__left {
    width: 375px;
    padding: 0px 15px 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .logo {
    margin-top: 30px;
  }
  .slash__text {
    font-size: 20px;
  }
  .whites {
    display: none;
  }
  .top {
    background: rgb(245, 245, 250);
  }
  .top__nav {
    padding: 10px 15px;
    background: rgba(245, 245, 250, 0.2);
    margin-top: -103px;
    width: 375px;
    display: flex;
    justify-content: space-around;
  }
  .top__nav-item:nth-child(7) {
    margin-left: 0px;
  }
  .top__nav-item:nth-child(5) {
    display: none;
  }
  .top__nav-item:nth-child(9) {
    display: none;
  }
  .top__nav-item:nth-child(3) {
    margin-right: 50px;
  }
  .bot {
    display: none;
  }
  .logoss {
    max-width: 70px;
    max-height: 25px;
  }
  .logosss {
    max-width: 70px;
    max-height: 4px;
  }
  .slashh {
    max-width: 12px;
    max-height: 26px;
  }
  .navigation {
    position: relative;
  }
  .nav {
    display: none;
    position: absolute;
    top: 50px;
    left: -310px;
    text-align: right;
  }
  .nav__list {
    padding: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .nav__list-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    list-style: none;
    padding: 7px 112px;
    background: rgb(245, 245, 250);
    margin-bottom: 15px;
    border-radius: 12px;
  }
  .nav__list-link {
    text-decoration: none;
    color: rgb(36, 163, 255);
  }
  .nav__check:checked + .nav__menu {
    border-radius: 8px;
    background: rgba(245, 245, 250, 0.2);
  }
  .nav__check:checked ~ .nav {
    display: block;
  }
  .nav__check {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
  }
  .nav__menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

/*# sourceMappingURL=header_dark.css.map */
