@use "../base/variables" as *;
@use "../base/mixins" as m;
.page__contact .header__mid-p::after {
  content: 'contact';
}

.contact {
    margin-bottom: 60px;
  &__text {
    @include m.font-regular;
    color: $main-regular;
    font-size: $f-size-21;
    line-height: 30px;
    &-link {
        color: $active-regular;
        text-decoration: none;
        &:hover {
            color: $color-accent;
        }
    }
  }
  &__hr {
    padding: 30px 0;
    &-r {
        border: 2px solid $grey-separator;
    }
  }
  &__svg {
    display: flex;
    align-items: center;
    gap: 10px;
    &-text {
        color: $active-regular;
        @include m.font-bold;
        font-size: $f-size-12;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
  }
}
.contact__svg:hover .contact__svg-p {
    cursor: pointer;
    fill: $color-accent;
}
.contact__svg:hover .contact__svg-text {
    cursor: pointer;
    color: $color-accent;
}
.form {
    border-radius: 12px;
    background: $grey-bg;
    padding: 30px;
    &__contact {
        display: flex;
        flex-direction: column;
        gap: 10px; 
    }
    &__title {
        @include m.font-bold;
        font-size: $f-size-30;
        background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;
    }
    &__subtitle {
        @include m.font-bold;
        font-size: $f-size-14;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $grey-text;
        margin-top: 20px;
    }
    &__btn {
        margin-top: 30px;
        color: $basic-white;
        @include m.font-bold;
        font-size: $f-size-16;
        padding: 18px 30px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border: none;
        border-radius: 12px;
        background: $active-regular;
        box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.50);
        &:hover {
            cursor: pointer;
            background: $active-hover;
        }
        &:active {
            background: $active-active;
        }
    }
}
.field {
    &__input {
        width: 100%;
        border: 1px solid $basic-white;
        background: $basic-white;
        outline: none;
        border-radius: 8px;
        padding: 15px;
        @include m.font-regular;
        font-size: $f-size-16;
        line-height: 26px;
        &::placeholder {
            @include m.font-regular;
            font-size: $f-size-16;
            line-height: 26px;
            color: $grey-text;
        }
        &:focus {
            border: 1px solid var(--Active-Regular, #24A3FF);
        }
        &-textarea {
            resize: none;
            overflow: auto;
            height: 130px;
        }
    }
}
.containers {
    padding: 0px 30px;
}
.publications__indexs {
    margin-top: 60px;
}
@media (min-width: 1440px) {
    .contact__container {
        margin: 60px 0px;
    }
}
@media (min-width: 1024px) {
    .contact__container {
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }
    .contact {
        flex: 1;
    }
}
@media (max-width: 430px) {
    .page__contact .header__mid-p::after {
  content: 'contact';
  font-size: 20px;
}
}