@use "../abstracts/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: $ff-CeraPro;
  padding: 25px 120px;
}

li {
  list-style: none;
}