// Переменные для цветов

$text-color-gray: #3D3D3D;
$text-color-green: #46A358;
$bgc-color-one: #FBFBFB;
$bgc-color-two: #E5E5E5;

// Переменные для шрифтов

$ff-CeraPro: 'Cera Pro', sans-serif;

// Перменные для шрифт-размеров

$fz-14: 14px;
$fz-15: 15px;
$fz-16: 16px;
$fz-18: 18px;

// Переменные для жирности

$fw-400: 400;
$fw-700: 700;