@import url("../fonts/fonts.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1440px;
  padding: 70px 120px;
  margin: 0 auto;
}
/* SECTION PRODUCTS */
.products__container {
  display: flex;
  gap: 30px;
  margin-bottom: 140px;
}
.products__content {
  display: flex;
  align-items: flex-end;
  background-color: #fbfbfb;
  max-height: 250px;
}
.products__contents {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 40px 30px 40px 10px;
}
.products__title {
  font-family: "Cera Pro", sans-serif;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 10px;
}
.products__describe {
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #727272;
  margin-bottom: 24px;
}
.products__button {
  border: none;
  border-radius: 6px;
  background-color: #46a358;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  gap: 2px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(70, 163, 88, 0.25);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
.products__button:hover {
  background-color: #3b8f4b;
  box-shadow: 0 6px 14px rgba(70, 163, 88, 0.35);
}
/* END SECTION PRODUCTS */

/* SECTION BLOG */
.blog__contents {
  text-align: center;
  margin-bottom: 40px;
}
.blog__title {
  font-family: "Cera Pro", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 16px;
  color: #3d3d3d;
}
.blog__describe {
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #727272;
}
.blog__item {
  display: flex;
  list-style: none;
  gap: 44px;
  justify-content: space-between;
}
.blog__div {
    padding: 0px 10px 10px 10px;
}
.blog__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fbfbfb;
}
.blog__img {
  margin-bottom: 10px;
}
.blog__span {
  font-family: "Cera Pro", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #46a358;
}
.blog__h4 {
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #3d3d3d;
}
.blog__p {
  margin-bottom: 10px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #727272;
}
.blog__link {
  text-decoration: none;
  font-family: "Cera Pro", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #3d3d3d;
  display: flex;
  align-items: center;
  gap: 2px;
  transition: color 0.2s;
}
.blog__link:hover {
  color: #46a358;
}
.blog__link .blog__link-arrow {
  transition: fill 0.2s;
  fill: currentColor;
}
/* END SECTION BLOG */
