@use "../abstracts/" as *;
// HEADER

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid $text-color-green;
  margin-bottom: 12px;

  &__list {
    display: flex;
    list-style: none;
    gap: 50px;
    color: $text-color-gray;
    font-size: $fz-16;
    line-height: normal;

    &-item {
      padding: 8px 0 25px;
      border-bottom: 3px solid transparent;
      cursor: pointer;
      position: relative;
      transition: all 0.2s ease;

      &:hover {
        border-bottom: 3px solid $text-color-green;
        font-weight: $fw-700;
      }

      &:hover .header__burger,
      .header__burger:hover {
        display: block;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 16px;
        bottom: -16px;
      }
    }
  }

  &__burger {
    background-color: $bgc-color-three;
    position: absolute;
    top: calc(100% + 16px);
    left: -30px;
    display: none;

    &-link {
      list-style: none;
    }

    &-links {
      position: relative;
      font-size: $fz-16;
      line-height: 100%;
      margin-bottom: 14px;
      padding: 6px 80px 6px 10px;
      background-color: none;
      width: 100%;

      &:hover {
        background-color: $bgc-color-four;
        color: #fff;
      }

      &:hover>.header__submenu,
      .header__submenu:hover {
        display: block;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: -12px;
        width: 12px;
      }

      &:last-child {
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
      }

      &:hover>.header__burger-text::after {
        transform: rotate(225deg); // стрелка влево при ховере
      }
    }

    &-text {
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;

      &::after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-left: 8px;
        border-top: 2px solid currentColor;
        border-right: 2px solid currentColor;
        transform: rotate(45deg); // стрелка вправо по умолчанию
        transition: transform 0.2s linear;
      }
    }
  }

  &__submenu {
    position: absolute;
    top: -126px;
    left: 170px;
    background-color: $bgc-color-three;
    display: none;

    &-lin {
      list-style: none;
    }

    &-lins {

      font-size: $fz-16;
      line-height: 100%;
      margin-bottom: 8px;
      white-space: nowrap;
      padding: 6px 10px 6px 4px;
      color: $text-color-gray;
      background-color: none;

      &:hover {
        background-color: $bgc-color-four;
        color: #fff;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 8px 16px;
    background: $text-color-green;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: $fz-16;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

    &:hover {
      background-color: #3b8f4b;
      box-shadow: 0 6px 14px rgba(70, 163, 88, 0.35);
    }
  }

  &__svg {
    cursor: pointer;
    position: relative;
    display: flex;

    &:hover path {
      fill: #46a358;
      cursor: pointer;
    }

    &-p {
      position: absolute;
      top: 1px;
      left: 12px;
      color: #fff;
      font-size: 10px;
      background: #46a358;
      border-radius: 100px;
      height: 12px;
      width: 12px;
      align-items: center;
      text-align: center;
    }
  }
}

// END HEADER

// HERO

.content {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: start;
  background: linear-gradient(98deg,
      rgba(245, 245, 245, 0.5) -23.46%,
      rgba(245, 245, 245, 0.5) 107.51%);
  margin-bottom: 46px;

  &__text {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    &-main {
      color: $text-color-gray;
      font-size: $fz-14;
      letter-spacing: 1.4px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    &-h2 {
      font-family: $ff-CeraProBold;
      font-size: $fz-70;
      font-weight: $fw-700;
      text-transform: uppercase;
      line-height: 70px;
      color: $text-color-gray;
      margin-bottom: 5px;

      span {
        color: $text-color-green;
      }
    }

    &-sup {
      color: $color-dark;
      font-size: $fz-14;
      line-height: 24px;

      margin-bottom: 44px;
      width: 84%;
    }

    &-button {
      padding: 10px 26px;
      border: none;
      border-radius: 6px;
      background-color: $text-color-green;
      color: #fff;
      font-size: $fz-16;
      font-weight: $fw-700;
      line-height: 20px;
      text-transform: uppercase;
      transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    }
  }

  &__img {
    border: none;
    background-image: url("../images/header/02.png"),
      url("../images/header/01.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 25% auto, 100% auto;
    background-position: left 10% bottom 14px, right 8% bottom;
    width: 100%;
    aspect-ratio: 507 / 450;
    min-height: 400px;
    flex: 1;
  }
}

// END HERO