@use "../abstracts/" as *;
/* SECTION PRODUCTS */
.products {
  &__container {
    display: flex;
    gap: 30px;
    margin-bottom: 140px;
  }

  &__content {
    display: flex;
    align-items: flex-end;
    background-color: #fbfbfb;
    max-height: 250px;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 40px 30px 40px 10px;
  }

  &__title {
    font-family: $ff-CeraProBold;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 10px;
  }

  &__describe {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    margin-bottom: 24px;
  }

  &__button {
    border: none;
    border-radius: 6px;
    background-color: #46a358;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(70, 163, 88, 0.25);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }
}
/* END SECTION PRODUCTS */

/* SECTION BLOG */
.blog {
  &__contents {
    text-align: center;
    margin-bottom: 40px;
  }

  &__title {
    font-family: $ff-CeraProBold;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
    color: #3d3d3d;
  }

  &__describe {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
  }

  &__item {
    display: flex;
    list-style: none;
    gap: 44px;
    justify-content: space-between;
  }

  &__div {
    padding: 0px 10px 10px 10px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fbfbfb;
  }

  &__img {
    margin-bottom: 10px;
  }

  &__span {
    font-weight: 500;
    font-size: 14px;
    color: #46a358;
  }

  &__h4 {
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: $ff-CeraProBold;
    font-weight: 700;
    font-size: 20px;
    color: #3d3d3d;
  }

  &__p {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    color: #727272;
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #3d3d3d;
    display: flex;
    align-items: center;
    gap: 2px;
    transition: color 0.2s;

    &:hover {
      color: #46a358;
    }

    .blog__link-arrow {
      transition: fill 0.2s;
      fill: currentColor;
    }
  }
}
/* END SECTION BLOG */
