@use "../abstracts/" as *;
.shop {
  margin-bottom: 146px;
  &__aside {
    background-color: $bgc-color-one;
    max-width: 310px;
  }
  &__layout {
    display: grid;
    grid-template-columns: 310px 1fr;
    gap: 30px;
  }
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
.aside {
  &__nav {
    display: flex;
    padding: 30px;
    flex-direction: column;
  }
  &__h4 {
    color: $text-color-gray;
    font-family: $ff-CeraPro;
    font-weight: $fw-700;
    font-size: $fz-18;
    margin-left: -10px;
    margin-bottom: 10px;
  }
  
  &__banner {
    margin-left: -30px;
  }
  &__img {
    display: block;
    max-width: 310px;
    overflow: hidden;
  }
}
.asides {
  margin-bottom: 36px;
  &__item {
    margin-bottom: 14px;
    &--link {
      text-decoration: none;
    color: $text-color-gray;
    font-weight: $fw-400;
    font-size: $fz-15;
    display: flex;
    justify-content: space-between;
    &:hover {
      color: $text-color-green;
    }
    }
  }
}
// END ASIDE
// TOOLBAR
.tabs {
  display: flex;
  flex-direction: row;
  gap: 40px;
  &__nav {
    list-style: none;
  }
  &__link {
    font-family: $ff-CeraPro;
    font-weight: $fw-400;
    font-size: $fz-15;
    text-decoration: none;
    color: $text-color-gray;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ease;
    &:hover {
      color: $text-color-green;
      border-bottom: 2px solid $text-color-green;
    }
  }
}
.sort {
  &__span {
    font-family: $ff-CeraPro;
    font-weight: $fw-400;
    font-size: $fz-15;
    color: $text-color-gray;
  }
  &__select {
    border: none;
    background: transparent;
    font-family: $ff-CeraPro;
    font-weight: $fw-400;
    font-size: $fz-14;
  }
}
// END TOOLBAR
// CARDS
.cards {
  display: flex;
}
.product__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px 30px;
  justify-items: center;
  align-items: start;
}
.product__card {
  list-style: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease, border-top 0.3s ease;
  border-top: 2px solid transparent;
  &:hover {
    border-top: 2px solid $text-color-green;
  }
  &-link {
    text-decoration: none;
    font-family: $ff-CeraPro;
    font-weight: $fw-400;
    font-size: $fz-16;
    color: $text-color-gray;
    cursor: pointer;
  }
  &-title {
    margin-bottom: 6px;
    font-family: $ff-CeraPro;
    font-weight: $fw-400;
    font-size: $fz-16;
    color: $text-color-gray;
  }
  &-price {
    color: $text-color-green;
    font-weight: $fw-700;
    margin-right: 14px;
    display: inline;
  }
  &-span {
    color: $text-color-line-through;
    text-decoration: line-through;
    display: inline;
  }
  &-conter {
    position: relative;
  }
  &-vector {
    display: none;
    position: absolute;
    top: 270px;
    left: 70px;
  }
  &-vector > svg {
    margin-right: 20px;
  }
  &-vector svg:hover path {
    fill: #46a358;
  }
  &:hover .product__card-vector {
    display: block;
    cursor: pointer;
  }
  &-sale {
    background-color: $text-color-green;
    padding: 4px;
    width: fit-content;
    font-family: $ff-CeraPro;
    font-weight: $fw-400;
    font-size: $fz-16;
    color: #ffffff;
    border: none;
    position: absolute;
    top: 14px;
    left: 0px;
  }
}
// END CARDS
// PAGES
.pages {
  margin-top: 90px;
  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  &__link {
    text-decoration: none;
    font-family: $ff-CeraPro;
    color: $text-color-gray;
    font-size: $fz-18;
    font-weight: $fw-400;
    padding: 10px;
    border: 1px solid rgb(238, 234, 234);
    border-radius: 4px;
    background-color: $bgc-color-one;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    &:hover {
      color: #fff;
      background-color: $text-color-green;
    }
  }
}
// END PAGES

.boxs {
  max-width: 180px;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 16px;
  &__one {
    width: 15px;
    height: 15px;
    background-color: #46a358;
    border-radius: 20px;
  }
  &__two {
    width: 15px;
    height: 15px;
    background-color: #46a358;
    border-radius: 20px;
  }
  &__hr {
    width: 148px;
    height: 4px;
    border: none;
    border: 2px solid #46a358;
    position: absolute;
    border-radius: 4px;
    top: 5px;
    left: 16px;
  }
  &__hrr {
    position: absolute;
    width: 50px;
    height: 4px;
    border: none;
    border: 2px solid rgba(70, 163, 88, 0.20);
    position: absolute;
    border-radius: 4px;
    top: 5px;
    left: 181px;
  }
}

.texture {
  font-size: $fz-15;
  margin-bottom: 20px;
  &__span {
    color: #46a358;
    font-weight: $fw-700;
  }
}
.betron {
  color: #fff;
  background-color: #46a358;
  padding: 8px 26px;
  font-size: $fz-16;
  font-weight: $fw-700;
  border: none;
  border-radius: 6px;
  margin-bottom: 46px;
}
